$color-primary: #f06c64;
$color-background: #2d303a;
$color-text: #878da9;
$color-heading: #666d89;
$color-tag: #c5c5c5;
$color-white: #ffffff;

$content-width: 1020px;
$about-us-height: 728px;
$portfolio-height: 728px;
$image-width: 220px;
$image-height: 188px;
