.social_conteiner {
    display: flex;
   
}
.social_networks {
    width: 16px;
    height: 16px;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 8px;
    padding: 7px;
    
}
.social_networks a:hover {
    border: 2px solid #c48862;
    cursor: pointer;
    transform: scale(1.2);
}