.layout-4-column {
    height: 601px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 187px;
    gap: 20px;
    overflow: hidden;
}
.layout-4-column div {
    overflow: hidden;  
}

.layout-4-column div:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

